*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-blend-mode: darken;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(26, 181, 223, 0.6);

    }

.container{
    max-width: 450px;
    background: #b21ad8e6;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 50px;
    color: #ede5e5;
}

h1{
    color: #121111;
    letter-spacing: 1.2px;
    font-size: 35px;
    font-style: oblique;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: navajowhite;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}



.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #cf2ea1;
    color: black;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: blue;
    outline: darkblue;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background: #095a52;
    color: #fff;
}